body
{
	background-color: skyblue;
	/*color: #efefef;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: darkblue;
	margin: 20px;
}

.piece
{
	text-align: center;
}
input{
	color: #0c4128;
}
.piece img
{
	width: 100%;
	height: auto;
}

.piece p
{
	margin-bottom: 30px;
}

.jumpers figcaption
{
	margin-top: 8px;
}
.striped-border { border: 1px dashed #000; width: 50%; margin: auto; margin-top: 5%; margin-bottom: 5%; }

